<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <header>
        <nav class="navbar">
            <div class="logo">
                <a class="logo-link" th:href="@{/}">
                    <h1>Efficio</h1>
                </a>
            </div>
            <div class="user-buttons">
                <!-- If there is a session, overview and logout buttons will be shown -->
                <a style="margin-right: 20px" th:href="@{/overview}" th:if="${session.userSession != null}">
                    <button>Overview</button>
                </a>
                <form class="danger" method="post" style="display: inline" th:action="@{/logout}"
                      th:if="${session.userSession != null}">
                    <button type="submit">Logout</button>
                </form>
                <!-- If there is no session login and sign up buttons are shown -->
                <a th:href="@{/login}" th:if="${session.userSession == null}">
                    <button>Login</button>
                </a>
                <a th:href="@{/signup}" th:if="${session.userSession == null}">
                    <button>Sign Up</button>
                </a>
            </div>
        </nav>
    </header>
</div>