<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Create subproject - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>

<h1>Create a new subproject for projectName</h1>

<form method="post" th:action="@{/project/{projectId}/subproject/create(projectId=${projectId})}"
      th:object="${subproject}">
    <div>
        <label for="name">Name:</label>
        <input id="name" required th:field="*{name}" type="text"/>
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}"></textarea>
    </div>

    <div>
        <label for="startDate">Start Date:</label>
        <input id="startDate" th:field="*{startDate}" type="date"/>
    </div>

    <div>
        <label for="deadline">Deadline:</label>
        <input id="deadline" th:field="*{deadline}" type="date"/>
    </div>
    <button type="submit">Create subproject</button>
</form>

</body>
</html>