<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div>
        <h1>Welcome to Efficio</h1>
        <p>Simplify your project management with Efficio</p>
        <a href="/signup">Get started now</a>
    </div>
    <div>
        <h2>Why choose Efficio?</h2>
        <div>
            <div>
                <h3>Efficient tracking</h3>
                <p>Track projects with ease.</p>
            </div>
            <div>
                <h3>Collaborate with others</h3>
                <p>Share and manage tasks with your team.</p>
            </div>
            <div>
                <h3>Punkt 3</h3>
                <p>Uddyb punkt 3</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>