<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Project overview - Efficio</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>

</header>

<div class="side-nav">

</div>

<div class="info-container">
    <h1 th:if="${project}" th:text="${project.name}"></h1>
    <h1 th:if="${subproject}" th:text="${subproject.name}"></h1>

    <div>
        <p th:if="${project}" th:text="${project.description}"></p>
        <p th:if="${subproject}" th:text="${subproject.description}"></p>
    </div>
</div>

<div class="task-container" th:if="${subproject}">
    <h1>Tasks</h1>
</div>

<div class="list-container" th:if="${project}">
    <h1>Subprojects</h1>
    <a th:href="@{/project/{projectId}/subproject/create(projectId=${project.projectId})}">

    <button>Create subproject</button>
    </a>
    <div th:each="subproject: ${subprojects}">
        <p th:text="${subproject.name}"></p>
    </div>
</div>


</body>
</html>