<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Project overview - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="main-content">
        <!-- Side-navigation bar for projects -->
        <div th:insert="~{fragments/sidenav :: sidenav}"></div>

        <div th:if="${error} or ${success}">
            <p class="danger" th:text="${error}"></p>
            <p class="success" th:text="${success}"></p>
        </div>

        <div class="project-wrapper">
            <!-- The project details -->
            <div class="project-details">
                <h1 th:text="${project.name}">Project name</h1>
                <div class="project-info">
                    <p th:text="${project.description}">Description of the project</p>
                </div>
                <a class="success" th:href="@{/project/{projectId}/update(projectId=${project.projectId})}">
                    <button>Edit project</button>
                </a>
            </div>
            <form method="post" th:action="@{/project/{projectId}/share(projectId=${project.projectId})}">
                <label for="username">Share project with another user</label>
                <input id="username" placeholder="Username" th:name="username" type="text">

                <button type="submit">Share project</button>
            </form>

            <!-- Time estimation for each workday -->
            <div class="bottom-container">
                <h1>Time usage per day</h1>
            </div>
        </div>

        <div class="right-container">
            <h1>Subprojects</h1>
            <img th:src="@{/images/clock.svg}" class="icon">
            <div th:each="subproject: ${subprojects}" class="subproject-box">
                <a th:href="@{/project/{projectId}/subproject/{subprojectId}(projectId=${subproject.projectId}, subprojectId=${subproject.subprojectId})}">
                    <p th:text="${subproject.name}"></p>
                    <p class="expected-time" th:text="${subproject.expectedTime}"></p>
                </a>
            </div>

            <div style="margin: 15px;">
                <a class="success" th:href="@{/project/{projectId}/subproject/create(projectId=${project.projectId})}">
                    <button>Create subproject</button>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>