<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Project overview - Efficio</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Efficio</h1>
        <a href="/logout" class="logout-button">
            <button>Logout</button>
        </a>
    </header>

    <div class="main-content">
        <div class="side-nav">
            <h2>Projects</h2>
        </div>

        <div class="project-details">
            <h1 th:if="${project}" th:text="${project.name}"></h1>
            <h1 th:if="${subproject}" th:text="${subproject.name}"></h1>
            <div class="project-info">
                <p th:if="${project}" th:text="${project.description}"></p>
                <p th:if="${subproject}" th:text="${subproject.description}"></p>
            </div>
        </div>

        <div class="task-container" th:if="${subproject}">
            <h1>Tasks</h1>
        </div>

        <div class="list-container" th:if="${project}"">
            <h1>Subprojects</h1>
            <a th:href="@{/project/{projectId}/subproject/create(projectId=${project.projectId})}">
                <button>Create subproject</button>
            </a>
            <div th:each="subproject: ${subprojects}">
                <p th:text="${subproject.name}"></p>
            </div>
        </div>
    </div>

</div>

</body>
</html>