<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Sign up - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!--  Form for creating account  -->
    <div class="submit-form-container">
        <form method="post" th:action="@{/signup}" th:object="${newUser}">
            <h2>Create account</h2>

            <div>
                <label for="username">Username</label>
                <input id="username" name="username" required type="text">
            </div>

            <div>
                <label for="userPassword">Password</label>
                <input id="userPassword" name="password" required type="password">
            </div>

            <div>
                <label for="userConfirmPassword">Confirm Password</label>
                <input id="userConfirmPassword" name="confirmPassword" required type="password">
            </div>

            <div th:if="${error} or ${success}">
                <p class="danger" th:text="${error}"></p>
                <p class="success" th:text="${success}"></p>
            </div>

            <button type="submit">Sign up</button>
        </form>

        <div class="helper">
            <p>Already have an account?</p>
            <a href="/login">
                <button>Log in</button>
            </a>
        </div>

    </div>
</div>
</body>
</html>