<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sign up - Efficio</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container">

    <div class="form-container">
    <form th:action="@{/signup}" th:object="${newUser}" method="post">
        <h2>Create account</h2>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="userPassword">Password</label>
            <input type="password" id="userPassword" name="password" required>
        </div>

        <div>
            <label for="userConfirmPassword">Bekræft Password</label>
            <input type="password" id="userConfirmPassword" name="confirmPassword" required>
        </div>

        <div th:if="${error} or ${success}">
            <p th:text="${error}" class="danger"></p>
            <p th:text="${success}" class="success"></p>
        </div>

        <button type="submit">Sign up</button>
    </form>


    <div>
        <p>Already have an account?</p>
        <a href="/login">
            <button>Log in</button>
        </a>
    </div>
        </div>

</div>

</body>
</html>