<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Project overview - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="main-content">
        <!-- Side-navigation bar for projects -->
        <div class="side-nav">
            <h2>Projects</h2>
        </div>

        <a th:href="@{/project/{projectId}/subproject/{subprojectId}/update(projectId=${subproject.projectId}, subprojectId=${subproject.subprojectId})}">
            <button>Update subproject</button>
        </a>

        <div class="project-wrapper">
            <!-- The project details -->
            <div class="project-details">

                <h1 th:if="${subproject}" th:text="${subproject.name}"></h1>
                <div class="project-info">
                    <p th:if="${subproject}" th:text="${subproject.description}"></p>
                </div>
            </div>

            <!-- Time estimation for each workday -->
            <div class="bottom-container">
                <h1>Time usage per day</h1>
            </div>
        </div>

        <div class="right-container" th:if="${project}">
            <a th:href="@{/project/{projectId}/subproject/{subProjectId}/tasks/add(projectId=${project.projectId}, subProjectId=${subproject.subprojectId})}"
               th:if="${subproject}">
                <button class="btn btn-primary">Add Task</button>
            </a>
            <h1>Subprojects</h1>
            <a th:href="@{/project/{projectId}/subproject/create(projectId=${project.projectId})}">
                <button>Create subproject</button>
            </a>
            <div th:each="subproject: ${subprojects}">
                <p th:text="${subproject.name}"></p>
            </div>
        </div>
    </div>

</div>
</body>
</html>