<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Subproject overview - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="main-content">
        <!-- Side-navigation bar for projects -->
        <div th:insert="~{fragments/sidenav :: sidenav}"></div>

        <div class="project-wrapper">
            <div class="layout-container">
                <div th:if="${error} or ${success}">
                    <p class="danger" th:text="${error}"></p>
                    <p class="success" th:text="${success}"></p>
                </div>
                <!-- The subproject details -->
                <div class="project-details">
                    <h1 th:text="${subproject.name}"></h1>
                    <div class="project-info">
                        <div>
                            <p th:text="${subproject.description}"></p>
                        </div>
                        <div>
                            <div class="project-icons">
                                <img class="icon" th:src="@{/images/clock.svg}">
                                <p th:text="${subproject.expectedTime} + ' hours'"></p>
                            </div>
                            <div class="project-icons" style="background-color: #6bc15b;">
                                <img class="icon" th:src="@{/images/start-date.svg}">
                                <p th:text="${subproject.startDate}"></p>
                            </div>
                            <div class="project-icons" style="background-color: #ff5b5b;">
                                <img class="icon" th:src="@{/images/deadline.svg}">
                                <p th:text="${subproject.deadline}"></p>
                            </div>
                        </div>
                    </div>
                    <a class="success" th:href="@{/project/{projectId}/update(projectId=${subproject.projectId})}">
                        <button>Edit subproject</button>
                    </a>
                </div>
            </div>

            <!-- Time estimation for each workday -->
            <div class="bottom-container">
                <h1>Time usage per day</h1>
                <p>Weekday work hours to meet the deadline.</p>
                <div class="time-usage-chart">
                    <div class="weekday">
                        <div class="column" th:style="'height: ' + ${hoursPerDay * 20} + 'px;'"
                             th:text="${hoursPerDay + ' hr'}"></div>
                        <p>Mon</p>
                    </div>
                    <div class="weekday">
                        <div class="column" th:style="'height: ' + ${hoursPerDay * 20} + 'px;'"
                             th:text="${hoursPerDay + ' hr'}"></div>
                        <p>Tue</p>
                    </div>
                    <div class="weekday">
                        <div class="column" th:style="'height: ' + ${hoursPerDay * 20} + 'px;'"
                             th:text="${hoursPerDay + ' hr'}"></div>
                        <p>Wed</p>
                    </div>
                    <div class="weekday">
                        <div class="column" th:style="'height: ' + ${hoursPerDay * 20} + 'px;'"
                             th:text="${hoursPerDay + ' hr'}"></div>
                        <p>Thu</p>
                    </div>
                    <div class="weekday">
                        <div class="column" th:style="'height: ' + ${hoursPerDay * 20} + 'px;'"
                             th:text="${hoursPerDay + ' hr'}"></div>
                        <p>Fri</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-container">
            <h1>Tasks</h1>
            <p th:if="${#lists.isEmpty(tasks)}"><em>You don't have any tasks yet.</em></p>
            <div class="subprojects-icon" th:if="${not #lists.isEmpty(tasks)}">
                <img class="icon" th:src="@{/images/clock.svg}">
            </div>
            <div class="subproject-box" th:each="task: ${tasks}">
                <a th:href="@{/project/{projectId}/subproject/{subprojectId}(projectId=${subproject.projectId}, subprojectId=${subproject.subprojectId})}">
                    <p th:text="${subproject.name}"></p>
                    <p class="expected-time" th:text="${subproject.expectedTime}"></p>
                </a>
            </div>

            <div>
                <a class="success" th:href="@{/project/{projectId}/subproject/{subprojectId}/tasks/add(projectId=${subproject.projectId}, subprojectId=${subproject.subprojectId})}">
                    <button>Create task</button>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>