<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Edit subproject - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="submit-form-container">
        <h1 th:text="'Edit subproject ' + ${subproject.name}"></h1>
        <form method="post"
              th:action="@{/project/{projectId}/subproject/{subprojectId}/update(projectId=${subproject.projectId}, subprojectId=${subproject.subprojectId})}"
              th:object="${subproject}">
            <div>
                <label for="name">Name:</label>
                <input id="name" required th:field="*{name}" th:value="${subproject.name}" type="text"/>
            </div>

            <div>
                <label for="description">Description:</label>
                <textarea id="description" th:field="*{description}" th:value="${subproject.description}"></textarea>
            </div>

            <div>
                <label for="startDate">Start Date:</label>
                <input id="startDate" th:field="*{startDate}" th:value="${subproject.startDate}" type="date"/>
            </div>

            <div>
                <label for="deadline">Deadline:</label>
                <input id="deadline" th:field="*{deadline}" th:value="${subproject.deadline}" type="date"/>
            </div>
            <div class="success">
                <button type="submit">Update subproject</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>