<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Your projects - Efficio</title>
    <link href="/css/main.css" rel="stylesheet">
    <!-- JavaScript for deletion confirmation -->
    <script>
        function confirmDeletion() {
            return confirm("Are you sure you want to delete this project?");
        }
    </script>
</head>
<body>
<div class="container">
    <!--  Top navigation bar  -->
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="project-wrapper">
        <h1 style="margin: 15px">Your Projects Overview</h1>

        <!-- If user has no projects -->
        <div th:if="${#lists.isEmpty(projects)}">
            <p><em>You don't have any projects yet.</em></p>
            <a class="success" href="/project/create">
                <button>Create new project</button>
            </a>
        </div>

        <!-- If user has projects -->
        <div th:if="${not #lists.isEmpty(projects)}">
            <a class="success" href="/project/create">
                <button>Create new project</button>
            </a>
        </div>

        <div th:if="${error} or ${success}">
            <p class="danger" th:text="${error}"></p>
            <p class="success" th:text="${success}"></p>
        </div>
        <!-- Projects overview container -->
        <div class="projects-container">
            <div class="project-box" th:each="project : ${projects}">
                <a class="project-link" th:href="@{/project/{projectId}(projectId=${project.projectId})}">
                    <h3 th:text="${project.name}"></h3>
                    <p><strong>Description:</strong> <span th:text="${project.description}"></span></p>
                    <p><strong>Start Date:</strong> <span th:text="${project.startDate}"></span></p>
                    <p><strong>Deadline:</strong> <span th:text="${project.deadline}"></span></p>
                </a>
                <!-- Delete project button form -->
                <form class="delete-form" method="post" onsubmit="return confirmDeletion()"
                      th:action="@{/project/delete/{projectId}(projectId=${project.projectId})}">
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>